In [3]:
!pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/78/78/50ef81a903eccc4e90e278a143c9a0530f05199f6221d2e1b21025852982/pandas-0.23.4-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (14.6MB)
    100% |████████████████████████████████| 14.7MB 181kB/s ta 0:00:01  4% |█▍                              | 614kB 213kB/s eta 0:01:06
Requirement already satisfied: pytz>=2011k in /anaconda3/lib/python3.6/site-packages (from pandas) (2018.7)
Requirement already satisfied: numpy>=1.9.0 in /anaconda3/lib/python3.6/site-packages (from pandas) (1.15.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /anaconda3/lib/python3.6/site-packages (from pandas) (2.7.5)
Requirement already satisfied: six>=1.5 in /anaconda3/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)
Installing collected packages: pandas
Successfully installed pandas-0.23.4

In [1]:
import pandas as pd

In [9]:
subreddits = pd.read_csv('subreddit_info.csv')

In [10]:
subreddits.head()

,subreddit,category_1,category_2,category_3,in_data,reason_for_exclusion
0,whatsthatbook,advice/question,book,NaN,True,NaN
1,CasualConversation,advice/question,broad,NaN,False,too_broad
2,Clairvoyantreadings,advice/question,broad,NaN,False,too_broad
3,DecidingToBeBetter,advice/question,broad,NaN,False,too_broad
4,HelpMeFind,advice/question,broad,NaN,False,too_broad

In [11]:
subreddits = subreddits[subreddits['in_data'] == True]

In [12]:
subreddits.head()

,subreddit,category_1,category_2,category_3,in_data,reason_for_exclusion
0,whatsthatbook,advice/question,book,NaN,True,NaN
25,theydidthemath,advice/question,calculations,NaN,True,NaN
26,datarecovery,advice/question,data recovery,NaN,True,NaN
27,declutter,advice/question,declutter,NaN,True,NaN
30,productivity,advice/question,discipline,NaN,True,NaN

In [15]:
subreddits = subreddits.drop(['reason_for_exclusion', 'category_2', 'category_3', 'in_data'], axis = 1)

In [38]:
subreddits.head()

         subreddit       category_1
0    whatsthatbook  advice/question
25  theydidthemath  advice/question
26    datarecovery  advice/question
27       declutter  advice/question
30    productivity  advice/question

In [23]:
subreddits.groupby('category_1').count()

                       subreddit
category_1
advice/question               18
animals                       17
anime/manga                   26
appearance                    11
arts                          21
autos                         20
board_game                     9
books                         12
card_game                     15
company/website               28
crypto                        29
drugs                         23
education                     17
electronics                   51
finance/money                 10
food/drink                    15
geo                           29
hardware/tools                14
health                        58
hobby                         30
meta                           9
movies                         7
music                         43
other                         27
parenting                     13
politics/viewpoint            16
profession                    56
programming                   21
religion/supernatural         13
rpg                            7
sex/relationships             31
social_group                  16
software                      52
sports                        40
stem                          14
travel                         5
tv_show                       68
video_game                   100
writing/stories               22

In [43]:
arts = subreddits[subreddits['category_1']=='arts']
programming = subreddits[subreddits['category_1']=='programming']

In [42]:
arts

              subreddit category_1
162          3Dprinting       arts
163           animation       arts
165       AutoDetailing       arts
172    characterdrawing       arts
173      cinematography       arts
180             drawing       arts
189  tabletopgamedesign       arts
190      graphic_design       arts
192        lasercutting       arts
194        Leathercraft       arts
195        logorequests       arts
197             Welding       arts
200         modelmakers       arts
204         photography       arts
205      SCREENPRINTING       arts
209              sewing       arts
210              tattoo       arts
213     hamiltonmusical       arts
214      lightingdesign       arts
215             turning       arts
219         woodworking       arts

In [44]:
programming

        subreddit   category_1
1859   androiddev  programming
1860         bash  programming
1867       csharp  programming
1870      csshelp  programming
1871       django  programming
1872       docker  programming
1873       dotnet  programming
1875          git  programming
1876       golang  programming
1877      haskell  programming
1878   selfhosted  programming
1879        swift  programming
1882     javahelp  programming
1888      reactjs  programming
1891       matlab  programming
1893      PHPhelp  programming
1897  learnpython  programming
1899       rstats  programming
1900        rails  programming
1902         rust  programming
1903          SQL  programming

In [30]:
# if text is < 3 words ... find a way to filter out posts that're just links -- words that won't help us train the model

In [2]:
posts = pd.read_csv('rspct.tsv', sep='\t')

In [3]:
posts.head()

,id,subreddit,title,selftext
0,6d8knd,talesfromtechsupport,Remember your command line switches...,"Hi there, <lb>The usual. Long time lerker, fi..."
1,58mbft,teenmom,"So what was Matt ""addicted"" to?",Did he ever say what his addiction was or is h...
2,8f73s7,Harley,No Club Colors,Funny story. I went to college in Las Vegas. T...
3,6ti6re,ringdoorbell,"Not door bell, but floodlight mount height.",I know this is a sub for the 'Ring Doorbell' b...
4,77sxto,intel,Worried about my 8700k small fft/data stress r...,"Prime95 (regardless of version) and OCCT both,..."